.app-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background: linear-gradient(#000000b3, #000000b3), url('./assets/img/Header.jpg');
    background-size: cover;
    height: 30vh;
}

.card{
    display: flex;
    text-align: center;
    width: 30em;
    flex-direction: column;
    padding: 0.5em;
    border: 1px solid #dbdbdb;

}

.botones-card{
    display: flex;
    justify-content: space-around;
}

.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.register {
    margin: 1em;
    padding: .8em;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #e9e9e9;
    border-radius: 5px; 
}

form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    
}

input {
    padding: 0.5em;
    margin: .2em 0;
    border-radius: 5px;
    border: solid 1px #ccc;
    width: 100%;
}